
.item-block {
  font-size: 0.9rem;
  height: 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  background-color: #00000010;
  margin-bottom: 1.5rem;
  width: 60%;
}
.item-block:hover {
  cursor: pointer;
  box-shadow: 3px 4px 12px #00000060;
}